@page "/projects/{id:int}"
@using BuildersApp.Core.Models
@using BuildersApp.Core.Models.UserInfo
@using BuildersApp.Core.Repositories
@using BuildersApp.Core.Services.Interfaces
@inject NavigationManager NavigationManager
@inject IProjectRepository ProjectRepository;
@inject IUserIdentityService UserIdentityService;

@if (_project is not null)
{
    <h3>@_project.Name</h3>
}

@if (_user is not null)
{
    <p>Developer: @_project.Developer.Name</p>
    <p>Designer: @_project.Designer.Name</p>
    <ProjectDocumentsView User="_user" Project="_project"/>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private User? _user;

    private Project _project;

    protected override async Task OnInitializedAsync()
    {
        if (UserIdentityService.CurrentUser is null)
        {
            NavigationManager.NavigateTo("/NotFound");
            return;
        }
        _project = await ProjectRepository.GetProject(Id, UserIdentityService.CurrentUser.Role);
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        _user = UserIdentityService.CurrentUser;
        return Task.CompletedTask;
    }



}