@using BuildersApp.Core.Services.Interfaces
@using BuildersApp.Core.Enums
@inject IUserIdentityService UserIdentityService;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BuildersApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (UserIdentityService.CurrentUser is null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="RegistrationPage">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="AuthorizationPage">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="MyCabinet">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Personal cabinet
                </NavLink>
            </div>
            var user = UserIdentityService.CurrentUser;
            switch (user.Role)
            {
                case Roles.Customer:
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Projects">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
                        </NavLink>
                    </div>
                    break;
                case Roles.Designer:
                case Roles.Developer:
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="ProjectPage">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
                        </NavLink>
                    </div>
                    break;
            }
        }
    </nav>
</div>

@code {

    public bool Update
    {
        get => true;
        set => StateHasChanged();
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}